@charset "utf-8";
/* 音乐台—聚焦 */
body{ background:#f5f5f5;}
/*便捷悦单*/
.l_sidebar{ width:50px; height:132px; background:#669900; font-size:16px; text-align:center;padding-top:10px; position:fixed; top:150px; right:0; border-radius:5px;}
.l_sidebar  a{ color:#fff; line-height:20px; }
.l_sidebar  i{ background:url(../img/side.png) no-repeat; width:34px; height:34px; display:block; margin-left:8px; margin-top:9px;}
/*音悦台头部导航*/
.l_head{height:109px;}
.l_headnav{ margin:0 auto; width:1007px;}
.l_headnav  h3{ background:url(../img/logo.png) no-repeat; width:163px; height:65px; float:left; text-indent:-999em; margin-top:18px;}
.l_headnav  h3  a{ display: block; height:100%;}
.l_headnav ul{ margin-top:53px;}
.l_headnav  li{ float:left; border-right:1px dashed  #bdbdbd; padding:0  17px  0  18px; font-size:14px;}
.l_headnav  li  a{ color:#666666;}
.l_headnav  .last{  border-right:none;}
.l_headnav  .last  a{ color:#669900;}
.l_headnav  li  a:hover{ border-bottom:2px solid #669900; padding-bottom:7px; color:#669900;}

/*聚焦主体开始*/
.l_content{ width:1000px; margin:0 auto; background:#fff;}

/*打榜动态*/
.l_content1{ padding:20px  20px  0;}
.l_content1_l{ width:570px; height:365px; position:relative; margin-right:18px;}
.l_content1_l img{ display:none;}
.l_content1_l  span{ opacity:0.5; filter:alpha(opacity:50); background:#000; width:100%; height:90px; position:absolute; bottom:20px; left:0;}
.l_content1_l_cont{ height:90px; width:100%; position:absolute; bottom:20px; left:0;}
.l_content1_l_cont  h5{ font-size:26px; margin:8px  0  7px  22px;}
.l_content1_l_cont  a{ color:#fff;}
.l_content1_l_cont  p{ margin-left:20px;}
.l_content1_l_cont  p  a{ line-height:23px;}
.l_content1 .btn_list { position:absolute;  bottom:13px; right:4px;}
.l_content1 .btn_list  a{ float:left; width:9px; height:9px; border-radius:50%; background:#8f8789; margin-right:12px;}
.l_content1 .btn_list  .active{ background:#82a806;}
.l_content1 .btn_list  a:hover{ background:#669900;}

.l_content1_r{width:371px;}
.l_content1_r_t{ padding-bottom:7px;}
.l_content1_r_t  h5{ font-size:24px; float:left; margin-right:7px;}
.l_content1_r_t  h5 a{ color:#669900;}
.l_content1_r_t  p{ float:left; margin-top:10px;}
.l_content1_r_t  p  a{ color:#999999;}
.l_content1_r_c{ border:1px solid  #e8e8e8; border-top:2px solid #669900;  padding-top:11px;}
.l_content1_r_c  i{ background:url(../img/jiao.png) no-repeat; width:10px; height:5px; position:
absolute; left:12px; top:-11px; display:none;}
.l_content1_r_c1{ margin-bottom:12px;}
.l_content1_r_c .area  li{ float:left; border-right:1px solid #b899b8; padding:0  5px;position:relative;}
.l_content1_r_c .area  .active1{color:#669900;}
.l_content1_r_c .area  .last1{ border-right:none;}
.l_content1_r_c1  p{ float:right; padding-right:5px; }
.l_content1_r_c1  p  a, .l_content1_r_c .area  li  a{color:#666666;}

.l_content1  .song{ display:none;}
.l_content1  .song  li{line-height:28px; height:19px; padding-top:9px;}
.l_content1  .song  li:hover{ background:#ebf5e5;}
.l_content1  .song  .back{background:#fafff7;}
.l_content1  .song  em{float:left; width:31px; text-align:center;color:#669900; font-weight:bold;}
.l_content1  .song  p{float:left; width:170px;color:#669900;}
.l_content1  .song  span{float:left; width:116px;color:#7d6695;}
.l_content1  .song  strong{float:left; width:40px; color:#666666; font-weight:bold;}
.l_content1  .song  b{float:left; background:url(../img/x.png) no-repeat 0  2px; width:7px; height:12px;}
.l_content1  .song  .spe{float:left; background:url(../img/s.png) no-repeat 0  2px; width:7px; height:12px;}
.l_content1  .song  .col{ color:#e45b9e;}

.l_content1  .more{ float:right; margin-right:12px; padding-bottom:5px;}
.l_content1  .more  a{color:#666666; }
/*周榜冠军*/
.l_content2{padding:30px 20px  20px; width:960px;}
.l_content2_top  h3{ background:url(../img/z1.png) no-repeat; width:183px; height:57px; text-indent:-999em; float:left;}
.l_content2_top  h3  a{ display:block; height:100%;}
.l_content2_top  p{ border-left:1px solid #d5d5d5;height:20px;padding-left:17px; margin-top:24px; float:left; padding-top:12px;}
.l_content2_top  p  a{ color:#d5d5d5;}
.l_content2_top  p  a:hover{ color:#669900;}
.l_content2_top  h4{ font-size:14px; margin-top:34px;color:#999999;}
.l_content2_top  h4  strong{ color:#666666; font-weight:bold; margin:0  4px;}
.l_content2_top_time{ margin-left:7px; margin-top:25px;}
.l_content2_top_time  .name{ width:33px; height:25px; background:url(../img/btn.png) no-repeat; float:left; text-align:center; line-height:25px; color:#669900; font-weight:bold;}
.l_content2_top_time  .text{ width:27px; height:25px; text-align:center; line-height:25px; float:left;}

.l_content2_c{ margin-top:20px; margin-right:-15px;}
.l_content2_c li  a{width: 180px;height: 240px;border: 1px solid #E8E8E8; display:block;}
.l_content2_c li{ float:left; margin-right:13px;}
.l_content2_c  img{ margin:2px;}

/*揭榜节目*/
.l_content3{padding:20px 20px  0px; width:960px;}
.l_content3  a:hover{ color:#669900;}
.l_content3_cont  li  a:hover  p{ color:#669900;}
.l_content3_top{padding-bottom:18px;}
.l_content3_top  h3{ background:url(../img/j_logo.png) no-repeat; width:128px; height:39px; text-indent:-999em; float:left;}
.l_content3_top   h3  a{ display:block;}
.l_content3_top  .more1{ float:right; padding-top:24px; color:#666666; font-size:13px;}
.l_content3_cont{ margin-right:-10px;}
.l_content3_cont  li{ float:left; margin-right:8px; width:184px; height:144px;border: 1px solid #E8E8E8;position:relative; margin-bottom:19px;}
.l_content3_cont  li  img{ width:180px; height:102px; margin:2px  2px  15px; }
.l_content3_cont  p{ color:#666666; margin-left:2px;}
.l_content3_cont  h6{ position:absolute; color:#fff; font-weight:bold; bottom:64px; left:15px;}
.l_content3_cont  span{ position:absolute; color:#ccff99; bottom:45px; left:15px;font-weight:bold; }
.l_content3_cont  i{ background:url(../img/shadow_bg.png) no-repeat; width:180px; height:102px; position:absolute; top:2px; left:2px;}
/*入围打榜*/
.l_content3_top  h4{ background:url(../img/r_logo.png) no-repeat; width:130px; height:38px; text-indent:-999em; float:left;}
.l_content3_top  h4  a{ display:block;}
/*新闻咨询*/
.l_content4{padding:20px 20px  15px; width:960px;}
.l_content4_top{padding-bottom:18px;}
.l_content4_top  h4{ background:url(../img/x_logo.png) no-repeat; width:130px; height:38px; text-indent:-999em; float:left;}
.l_content4_top  h4  a{ display:block;}
.l_content4_top  .more1{ float:right; padding-top:24px; color:#666666; font-size:13px;}

.l_content4_c_l{ width:472px; height:277px; border: 1px solid #E8E8E8;}
.l_content4_c_l   img{width:468px; height:273px; margin:2px;}
.l_content4_c_m, .l_content4_c_r{ width:224px; height:277px; border:1px solid #e8e8e8; margin-left:17px; }
.l_content4_m_img, .l_content4_r_img{ position:relative;}
.l_content4_m_img  img  ,.l_content4_r_img  img{ width:220px; height:124px; margin:2px  2px  6px;}
.l_content4_m_img  p, .l_content4_r_img  p{ position:absolute; left:9px; bottom:9px; font-weight:bold;}
.l_content4_m_img  p  a, .l_content4_r_img  p  a{ color:#fff;}
.l_content4_c_m  li, .l_content4_c_r  li{ float:left; height:28px; border-bottom:1px solid #f1f1f1; line-height:28px;width:208px; padding-left:16px;}
.l_content4_c_m  li  a, .l_content4_c_r  li  a{ color:#333333;}
.l_content4_c_m  li:hover{ background:#ebf5e5;}
.l_content4_c_r  li:hover{ background:#ebf5e5;}

/*周榜年度吉尼斯*/
.l_content5{ width:960px; margin:0 auto;padding:20px  20px  0px; background:#f8f7f7;}
.l_content5_top{padding-bottom:18px;}
.l_content5_top  h3{ background:url(../img/z_logo.png) no-repeat; width:202px; height:38px; text-indent:-999em; float:left; margin-top:20px;}
.l_content5_top  h3  a{ display:block;}
.l_content5_top  .time{ width:118px; height:29px; border:1px solid #cacaca; float:left; margin-left:36px; margin-top:20px;}
.l_content5_top  .time_l{ width:27px; height:29px; background:url(../img/jiaol.png) no-repeat center; float:left; cursor:pointer;}
.l_content5_top  .time  .year{ width:62px; height:27px; border-right:1px solid #c4c4c4;border-left:1px solid #c4c4c4; text-align:center; line-height:27px; margin:1px  0; float:left;}
.l_content5_top  .time_r{width:27px; height:29px; background:url(../img/jiaor.png) no-repeat center; float:left;cursor:pointer;}
.l_content5_top ul{ float:right; margin-top:27px;}
.l_content5_top  li{float: left;border-right: 1px dashed #BDBDBD;padding: 0px 17px 0px 18px;
font-size: 14px;}
.l_content5_top  .last{ border-right:none;}
.l_content5_top  li  a{ color:#666666;}
.l_content5_top  li  a:hover{ border-bottom:2px solid #669900; padding-bottom:7px; color:#669900;}
.l_content5_cont{ margin-right:-20px;}
.l_content5_cont  li{ width:224px; height:232px; border:1px solid #e8e8e8; float:left; margin-right:19px; margin-bottom:25px; background:#fff;}
.l_content5_cont_img{ position:relative; width:220px; height:124px; margin-bottom:10px;}
.l_content5_cont_img  img{ width:220px; height:124px; margin:2px  2px  0px;}
.l_content5_cont_img  span{ background:url(../img/shadow_bg.png) no-repeat; width:220px; height:124px; position:absolute; top:0; left:0;}
.l_content5_cont_img  h6{ position:absolute; bottom:29px; left:10px;}
.l_content5_cont_img  h6  a{ color:#fff; font-weight:bold;}
.l_content5_cont_img  p{ position:absolute; bottom:12px; left:10px;}
.l_content5_cont_img  p  a{ color:#ccff99;}
.bf { margin-left:17px; padding-bottom:14px;}
.bf  i{ background:url(../img/n_1.png) no-repeat; width:19px; height:22px; float:left;}
.bf  span{ color:#999933; float:right; margin-top:5px;}
.bf  em{ margin-top:5px; margin-left:6px; float:left;}
.bf  a{ color:#333; float:left;}
.event{ margin-left:17px; padding-bottom:12px;}
.event  em{ float:left; color:#999999;}
.event  span{ float:left; color:#666666;}
.keep{ margin-left:17px;}
.keep  em{ float:left;color:#999999;}
.keep  strong{ float:left; color:#333333; margin:0  5px;}
